@page "/offices"

<h1>Lista de oficinas</h1>

<p>@IMEI</p>

<GridOicinas/>


@code{
    string IMEI = "";    

    //TelephonyManager telephonyManager = (TelephonyManager)getSystemService(Context.TELEPHONY_SERVICE);
}