@page "/"
@inject IAuthService authService
@inject NavigationManager navigationService
@inject SweetAlertService swal;

<h3>Mapa</h3>

@if(authenticatedUser != null){
    <MapComponent />
}

@code {
    Usuario authenticatedUser;
    protected async override Task OnInitializedAsync() {
        authenticatedUser = await authService.isLogged();
        if (authenticatedUser == null) {
            navigationService.NavigateTo("/login");
            return;
        }

        string key = Preferences.Get(PreferencesModel._keyPreferences, "");
        if (string.IsNullOrEmpty(key)) {
            navigationService.NavigateTo("/key");
            return;
        }

        if (!await authService.isValidKey(key)) {
            navigationService.NavigateTo("/key");
            return;
        }
    }
}
