@page "/"
@inject IAuthService authService
@inject NavigationManager navigationService
@inject SweetAlertService swal;


@if(authenticatedUser != null){
    <h3>Mapa</h3>
    <MapComponent />
} else {
    <TelerikLoaderContainer Visible="@(loading)">
        <Template>
            <TelerikLoader Size="@ThemeConstants.Loader.Size.Large"
                       ThemeColor="@ThemeConstants.Loader.ThemeColor.Info"
                       Type="@LoaderType.InfiniteSpinner" />            
        </Template>
    </TelerikLoaderContainer>
}

@code {
    bool loading = true;
    Usuario authenticatedUser;
    protected async override Task OnInitializedAsync() {
        authenticatedUser = await authService.isLogged();
        if (authenticatedUser == null) {
            navigationService.NavigateTo("/login");
            return;
        }

        string key = Preferences.Get(PreferencesModel._keyPreferences, "");
        if (string.IsNullOrEmpty(key)) {
            navigationService.NavigateTo("/key");
            return;
        }

        if (!await authService.isValidKey(key)) {
            navigationService.NavigateTo("/key");
            return;
        }
        loading = false;
    }
}
